In [1]:
# reference links, https://fastapi.tiangolo.com/tutorial/sql-databases/, https://www.koyeb.com/docs/databases

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# SQLALCHEMY_DATABASE_URL = "sqlite:///./sql_app.db"
# might get error, some references,
#       1. https://stackoverflow.com/questions/62688256/sqlalchemy-exc-nosuchmoduleerror-cant-load-plugin-sqlalchemy-dialectspostgre
#       2. pip install psycopg2-binary , found in https://stackoverflow.com/questions/12906351/importerror-no-module-named-psycopg2

SQLALCHEMY_DATABASE_URL = "postgresql://koyeb-adm:sTZeDg9fzb6u@ep-dark-cake-a2osiv9p.eu-central-1.pg.koyeb.app/koyebdb"


engine = create_engine(
    SQLALCHEMY_DATABASE_URL
)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()

In [2]:
from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)

# Create the database tables
Base.metadata.create_all(bind=engine)

In [3]:
session = SessionLocal()

In [4]:
import random
# Generate and add 10 random records
for _ in range(10):
    name = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=5))
    age = random.randint(18, 60)
    user = User(name=name, age=age)
    session.add(user)

# Commit the changes to the database
session.commit()

In [5]:
# Execute a query to fetch all records from the User table
all_users = session.query(User).all()

# Iterate over the result set and print each record
for user in all_users:
    print(user.id, user.name, user.age)

1 John 25
2 ndrxt 30
3 qvaca 52
4 veeea 53
5 haekw 25
6 iuuys 44
7 dbewp 51
8 yhkmg 40
9 seekt 26
10 zwfqg 18
11 hglvg 22
12 kvrmz 51
13 zdufc 22
14 qonqd 46
15 qjvlt 19
16 kcghq 18
17 jwfmh 21
18 wkolh 38
19 mxewo 44
20 vnhnc 32
21 ovoca 43

In [2]:
from database import Database

db = Database()

In [7]:
# Push some random data to the database
import random
import datetime

for _ in range(10):
    date = datetime.date(random.randint(2010, 2020), random.randint(1, 12), random.randint(1, 28))
    time = datetime.time(random.randint(0, 23), random.randint(0, 59))
    amount = random.randint(100, 10000)
    category = random.choice(['food', 'travel', 'shopping', 'rent', 'others'])
    description = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=10))
    paid_by = random.choice(['AB', 'GS', 'AJ', 'SJ'])
    AB = random.randint(0, 1000)
    GS = random.randint(0, 1000)
    AJ = random.randint(0, 1000)
    SJ = random.randint(0, 1000)
    for_room = random.randint(1, 4)//2 == 1
    
    db.add_transaction(date, time, amount, category, description, paid_by, AB, GS, AJ, SJ, for_room)

In [8]:

# Fetch all records from the User table
all_transactions = db.get_transactions()

# Iterate over the result set and print each record
for transaction in all_transactions:
    print(transaction.date, transaction.time, transaction.amount, transaction.category, transaction.description, transaction.paid_by, transaction.AB, transaction.GS, transaction.AJ, transaction.SJ, transaction.for_room)

2016-12-03 11:08:00 8327.0 others fdthturpdl SJ 492.0 263.0 151.0 48.0 False
2016-12-15 05:15:00 6674.0 travel ckmzrkkjqq AB 11.0 703.0 895.0 380.0 True
2014-06-17 20:27:00 7004.0 shopping jfsftmscff AJ 759.0 66.0 380.0 871.0 True
2017-09-23 03:21:00 3442.0 others kjeapikgmb SJ 146.0 740.0 200.0 441.0 False
2015-02-18 10:03:00 7607.0 travel suyiovniey AJ 320.0 408.0 266.0 891.0 False
2015-05-01 00:51:00 6950.0 travel dzzuonnmbo SJ 472.0 343.0 526.0 881.0 True
2012-02-28 15:55:00 5571.0 travel nbmncdrauw GS 504.0 466.0 73.0 715.0 False
2016-03-27 06:09:00 6636.0 others agutcqsear GS 732.0 785.0 658.0 691.0 False
2020-03-06 20:11:00 2892.0 rent giwvuxhjis AB 774.0 455.0 926.0 32.0 False
2011-05-25 20:02:00 2196.0 others fbbeckyorn GS 630.0 470.0 524.0 231.0 True
2012-11-13 18:29:00 3013.0 food jdsgryivss GS 864.0 40.0 62.0 878.0 False
2015-01-11 23:19:00 3671.0 rent pysywppvvx GS 196.0 787.0 416.0 849.0 True
2015-07-14 07:11:00 636.0 rent rkrtbclxfu SJ 752.0 406.0 568.0 594.0 True
2010-09-19 15:54:00 2026.0 travel qeziqynket AJ 79.0 902.0 149.0 767.0 True
2015-02-18 14:28:00 8655.0 shopping nhpviwubeg SJ 388.0 912.0 63.0 173.0 False
2019-06-10 11:45:00 1375.0 travel nnrlkyrwgl AJ 235.0 584.0 818.0 419.0 False
2020-05-25 15:21:00 6886.0 food povlakymbo GS 618.0 692.0 439.0 878.0 True
2020-09-21 09:57:00 1006.0 travel ptvtvdnkcn AJ 202.0 851.0 126.0 851.0 False
2016-03-13 18:27:00 7777.0 shopping tosmpuojsg GS 744.0 514.0 729.0 587.0 False
2013-09-17 01:17:00 5511.0 others lplajcqagi SJ 482.0 786.0 505.0 491.0 False

In [4]:
db.drop_table() # Dangerous, only for testing purposes

Tables dropped and recreated successfully.